{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container mt-4">
    <h1 class="d-flex justify-content-center mb-3">Ecole des Sarments</h1>
    <br>
        <div class="row">
            <div class="col-8 offset-2">
                <p><b>Le but n’est pas de « protéger de » mais de « former pour ».</b></p>

                <p>Enseigner par l’exemple. Ce n’est pas un lieu ou un professionnel transmet uniquement du savoir, mais l’enseignant transmet ce qu’il est.</p> 

                <p>Une direction, une administration, un corps enseignant qui reflètent et sont porteurs eux-mêmes de ces valeurs enseignées, car nous sommes convaincus que « l’exemple n’est pas une des manières d’enseigner, mais c’est la seule » et que « ce que l’on est, crie plus fort que ce que l’on dit ».</p> 

                <p>Aider chaque élève à découvrir son identité ; l’aider à réaliser à quel point il est unique et précieux.</p> 

                <p>Un développement intellectuel qui intègre les principes divins dans les matières académiques et qui met l’accent sur :</p> 

                <p>– Une bonne maîtrise de la communication ;</p> 

                <p>– Un bon niveau en mathématiques et dans les matières scientifiques ;</p> 

                <p>– Une bonne compréhension de l’histoire ;</p> 

                <p>– Un goût sûr pour la littérature et les arts ;</p> 

                <p>– La capacité de raisonner et de penser avec un esprit critique ;</p> 

                <p>– La recherche, l’analyse, l’évaluation et la recherche correcte d’information ;</p> 

                <p>– Créés pour créer. Nous voulons encourager la créativité ! Aider chaque élève dans la découverte et le développement des dons et des talents qui sont en lui, pour mettre ses talents aux service des autres.</p> 

                <p><b>Réussir dans la vie ? Réussir sa vie !</b></p> 

                <p>« Eduquer ne signifie pas « dresser » mais « s’adresser »… L’éducation n’est possible que sur un fond de confiance. » (Jean-Marie Petitclerc)</p>
            </div>
        </div>
</div>
{% endblock %}
