{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="d-flex justify-content-center mb-3">Mentions légales</h1>
    <div class="row">
        <div class="col-8 offset-2">
            <p>Le présent document énonce les mentions légales régissant l'utilisation du site web de l'école primaire associative (ci-après dénommée "l'École")
             accessible uniquement via une page d'authentification. Veuillez lire attentivement ces informations avant d'utiliser le site. En accédant au site, 
             vous acceptez les conditions énoncées dans les présentes mentions légales.</p>
            <p><b>1. Editeur du site</b></p>
            <p>Le site web de l'école primaire associative est édité par :<br>
            <br>
            [Le nom de l'association]<br>
            [Adresse de l'association]<br>
            [Téléphone de l'association]<br>
            [Adresse e-mail de l'association]</p>
            <p><b>2. Directeur de publication</b></p>
            <p>Le directeur de publication du site web est :<br>
            <br>
            [Nom du directeur de l'école]<br>
            [Adresse de l'école]<br>
            [Téléphone de l'école]<br>
            [Adresse e-mail de l'école]</p>
            <p><b>3. Hébergement du site</b></p>
            <p>Le site web de l'école est hébergé par :<br>
            <br>
            [Le nom de l'hébergeur]<br>
            [Adresse de l'hébergeur]<br>
            [Téléphone de l'hébergeur]<br>
            [Adresse e-mail de l'hébergeur]</p>
            <p><b>4. Accès au site</b></p>
            <p>L'accès au site web de l'école primaire associative est réservé aux utilisateurs autorisés, à savoir le directeur et les enseignants de l'école, 
            ainsi que les parents d'élèves inscrits à l'école. L'accès est sécurisé par une page d'authentification qui requiert des identifiants personnels.</p>
            <p><b>5. Collecte et traitement des données personnelles</b></p>
            <p>L'école primaire associative collecte et traite les données personnelles des utilisateurs autorisés dans le cadre de la gestion interne de l'école. 
            Les informations collectées peuvent inclure les noms, prénoms, adresses e-mail, numéros de téléphone et autres données nécessaires à l'administration de l'école. 
            Ces données sont traitées conformément à la législation en vigueur sur la protection des données personnelles.</p>
            <p>Les données personnelles des utilisateurs autorisés ne seront en aucun cas divulguées à des tiers sans leur consentement préalable. 
            L'école met en œuvre des mesures de sécurité appropriées pour protéger ces données contre tout accès non autorisé ou toute divulgation.</p>
            <p>Les parents des élèves inscrits à l'école peuvent consulter les informations relatives à leurs enfants, telles que les notes, les absences, les devoirs, etc., 
            dans le cadre de la consultation des informations scolaires. Les parents sont responsables de la confidentialité de leurs identifiants et doivent prendre 
            les mesures nécessaires pour prévenir tout accès non autorisé à leur compte.</p>
            <p><b>6. Cookies</b></p>
            <p>Le site web de l'école peut utiliser des cookies pour améliorer l'expérience de navigation des utilisateurs et recueillir des informations anonymes 
            sur leur utilisation du site. Les cookies sont de petits fichiers texte stockés sur l'ordinateur de l'utilisateur. L'utilisation des cookies est régie 
            par notre politique en matière de cookies.</p>
            <p><b>7. Propriété intellectuelle</b></p>
            <p>Tous les contenus présents sur le site web de l'école (textes, images, vidéos, graphiques, logos, etc.) sont protégés par le droit d'auteur et 
            autres droits de propriété intellectuelle. Toute reproduction, représentation, modification ou diffusion de ces contenus sans autorisation préalable 
            écrite de l'école est strictement interdite.</p>
            <p><b>8. Limitation de responsabilité</b></p>
            <p>L'école primaire associative s'efforce de fournir des informations précises et à jour sur son site web, mais ne peut garantir l'exactitude, 
            l'exhaustivité ou la pertinence des informations fournies. L'école ne saurait être tenue responsable des dommages directs ou indirects résultant 
            de l'utilisation du site web.</p>
            <p><b>9. Modification des mentions légales</b></p>
            <p>L'école se réserve le droit de modifier les présentes mentions légales à tout moment, sans préavis. Il est de la responsabilité de l'utilisateur 
            de consulter régulièrement les mentions légales pour prendre connaissance des éventuelles modifications.</p>
            <p><b>10. Droit applicable et juridiction compétente</b></p>
            <p>Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents de [lieu où se situe l'école] seront seuls compétents.</p>
            <p>Pour toute question ou demande concernant les mentions légales du site web de l'école primaire associative, veuillez nous contacter à l'adresse suivante :<br>
            [Adresse e-mail de contact de l'école]</p>
            <p>Dernière mise à jour : [Date de la dernière mise à jour des mentions légales]</p>
        </div>
    </div>
</div>
{% endblock %}